.heading-1{
    text-align: center;
    padding-top: 2rem;
}
 

#Header-items{
    background-color:#543de0; /* Color scheme followed.*/
}

.font-semibold{
    font-weight: 800;
}


.padding-1rem{
    margin-top:-100px;
    padding-bottom: 15rem;
}